<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRARY</title>
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
            background-image: url(../images/library.png);
            background-size: cover;
        }
    </style>

    </head>
<body>
    <div class="navbar">
    <div id="nav">
        <div id="log">
        </div>
        <ul>
            <li ><a href="">HOME</a></li>
            <li><a href="">CONNECT US</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="">LIBRARY</a></li>
            <li class="active"><a href="">LOG IN</a></li>
            <li class="ic_add"><a href=""><i class="fa-solid fa-circle-user"></i></a></li>
            <li class="ic_add"><a href=""><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </div>
    </div>
    <div class="table01">
        <table border="1" class="table_class">
            <thead>
                <th class="tr1">TOPIC</th>
                <th class="tr1">RESOURCE</th>
                <th class="tr1">NOTES</th>
                <th class="tr1">CHEATSHEET</th>
            </thead>
            <tbody>
                <tr>
                    <td class="tr1">
                        <label for="textarea1" ></label>
                        <input type="textarea" id="textarea1">
                    </td>
                    <td class="tr1" >
                        <label for="textarea2"></label>
                        <input type="text" id="textarea2">
                    </td>
                    <td class="tr1">
                        <label for="textarea3"></label>
                        <input type="text" id="textarea3">
                    </td>
                    <td class="tr1">
                        <label for="textarea4"></label>
                        <input type="text" id="textarea4">
                    </td>
                </tr>
                 <tr>
                    <td class="tr1">
                        <label for="textarea5"></label>
                        <input type="text" id="textarea5">
                    </td>
                    <td class="tr1">
                        <label for="textarea6"></label>
                        <input type="text" id="textarea6">
                    </td>
                    <td class="tr1">
                        <label for="textarea7"></label>
                        <input type="text" id="textarea7">
                    </td>
                    <td class="tr1">
                        <label for="textarea8"></label>
                        <input type="text" id="textarea8">
                    </td>
                </tr>
                <tr>
                    <td class="tr1">
                        <label for="textarea9"></label>
                        <input type="text" id="textarea9">
                    </td>
                    <td class="tr1">
                        <label for="textarea10"></label>
                        <input type="text" id="textarea10">
                    </td>
                    <td class="tr1">
                        <label for="textarea11"></label>
                        <input type="text" id="textarea11">
                    </td>
                    <td class="tr1">
                        <label for="textarea12"></label>
                        <input type="text" id="textarea12">
                    </td>
                </tr>
                <tr>
                    <td class="tr1">
                        <label for="textarea13"></label>
                        <input type="text" id="textarea13">
                    </td>
                    <td class="tr1">
                        <label for="textarea14"></label>
                        <input type="text" id="textarea14">
                    </td>
                    <td class="tr1">
                        <label for="textarea15"></label>
                        <input type="text" id="textarea15">
                    </td>
                    <td class="tr1">
                        <label for="textarea16"></label>
                        <input type="text" id="textarea16">
                    </td>
                </tr>
                <tr>
                    <td class="tr1">
                        <label for="textarea17"></label>
                        <input type="text" id="textarea17">
                    </td>
                    <td class="tr1">
                        <label for="textarea18"></label>
                        <input type="text" id="textarea18">
                    </td>
                    <td class="tr1" >
                        <label for="textarea19"></label>
                        <input type="text" id="textarea19">
                    </td>
                    <td class="tr1">
                        <label for="textarea20"></label>
                        <input type="text" id="textarea20">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>